html,
body,
#content {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

calcite-button,
calcite-label {
  margin-bottom: 0.75rem;
}

#content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
}

#map-div {
  flex-grow: 1;
}

#sign-in-button {
  margin-bottom: 0;
}

#sign-in-notice {
  margin-top: 0.75rem;
}

.flex-container {
  display: flex;
}

.flex-item {
  flex-grow: 1;
}

.hidden {
  display: none;
  margin-bottom: 0.75rem;
}

.scroll-container {
  padding: 0.75rem;
  overflow-y: scroll;
}
